/*
 * ╔══════════════════════════════════════════════════════════╗
 * ║                  engine/styles/main.css                  ║
 * ╠══════════════════════════════════════════════════════════╣
 * ║  This module contains styling for Sine in the main       ║
 * ║  process.                                                ║
 * ╚══════════════════════════════════════════════════════════╝
 */

.sineCommandPalette {
    position: fixed;
    height: fit-content;
    width: 50vw;
    max-width: 800px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px) brightness(0.6) saturate(3.4);
    border: 2px solid rgba(255, 255, 255, 0.3);
    z-index: 2000;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    transition:
        visibility 0.35s ease,
        opacity 0.35s ease;
    box-sizing: border-box;

    &[hidden] {
        display: block;
        opacity: 0;
        visibility: hidden;
        backdrop-filter: 0px;
    }
}

.sineCommandInput,
.sineCommandSearch {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;

    & > input,
    & > div {
        padding: 15px;
        box-sizing: border-box;
        font-size: 15px;
        width: 100%;
    }

    & > input {
        background: transparent;
        border: none;
        padding-bottom: 0;
        outline: none;
    }

    & > hr {
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        margin: 10px;
    }

    & > div {
        padding-top: 0;

        & > button {
            width: 100%;
            padding: 5px;
            background: transparent;
            border: 1px solid rgba(255, 255, 255, 0.3);
            box-sizing: border-box;
            margin-top: 3px;
            margin-bottom: 3px;
            border-radius: 8px;

            &[selected],
            &:hover {
                background: rgba(255, 255, 255, 0.3);
            }
        }
    }
}

.sineToastManager {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .sineToast {
        width: auto;
        min-width: 100px;
        height: 30px;
        color: var(--toolbar-color, light-dark(black, lightgray));
        border-radius: 12px;
        padding: 10px 30px;
        display: flex;
        align-items: center;
        background: var(--zen-primary-color, var(--toolbar-bgcolor));

        span:not(.description) {
            font-weight: 600;
            font-size: 14px;
        }

        .description {
            font-size: smaller;
            display: block;
        }

        &:has(button) {
            padding: 10px 15px;
        }

        button {
            border: 1px solid var(--zen-colors-border, light-dark(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.3)));
            background: transparent;
            color: var(--toolbar-color, light-dark(black, lightgray));
            padding: 5px 10px;
            border-radius: 8px;
            cursor: pointer;
            margin-left: 15px;

            &:hover {
                background: var(--zen-colors-hover-bg, light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1)));
                border-color: var(
                    --zen-colors-border-contrast,
                    light-dark(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5))
                );
            }
        }
    }
}

@media (max-width: 768px) {
    .sineToastManager {
        right: 5px;
        bottom: 5px;
    }

    .sineToast {
        min-width: 80px;
        font-size: 13px;
    }
}
