/*
 * ╔══════════════════════════════════════════════════════════╗
 * ║                engine/styles/settings.css                ║
 * ╠══════════════════════════════════════════════════════════╣
 * ║  This module contains styling for Sine in the settings   ║
 * ║  process.                                                ║
 * ╚══════════════════════════════════════════════════════════╝
 */

#category-sine-mods .category-icon {
    list-style-image: url("chrome://userscripts/content/engine/assets/images/saturn.svg");
}

#sineInstallationHeader button,
.sineInstallationItem > img,
.auto-update-toggle[enabled] + .manual-update {
    display: none;
}

#sineInstallationGroup {
    margin-bottom: 7px !important;
}

#sineInstallationGroup input:focus {
    border-color: transparent;
    box-shadow: 0 0 0 2px var(--button-background-color-primary-active);
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-inset);
}

#sineInstallationHeader {
    display: flex;
    justify-content: space-between;
}

#sineInstallationList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(192px, 1fr));
    gap: 7px !important;
    margin-top: 17px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
}

.sineInstallationItem {
    display: flex !important;
    flex-direction: column;
    border-radius: 5px !important;
    padding: 15px !important;
    background-color: rgba(255, 255, 255, 0.04) !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2) !important;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.sineInstallationItem[hidden],
.sineInstallationItem[installed] {
    display: none !important;
}

.sineMarketplaceItemDescription {
    padding-bottom: 10px;
}

.sineMarketplaceButtonContainer {
    display: flex !important;
    margin-top: auto;
    height: 43px;
}

.sineMarketplaceOpenButton,
.sineItemConfigureButton,
.sineItemHomepageButton,
.auto-update-toggle,
.github-link {
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

#sineMarketplaceRefreshButton {
    background-image: url("chrome://userscripts/content/engine/assets/images/refresh.svg");
    background-size: 100%;
}

.sineMarketplaceButtonContainer .sineMarketplaceOpenButton {
    background-image: url("chrome://userscripts/content/engine/assets/images/markdown.svg");
}

#sineInstallationCustom .sineMarketplaceOpenButton:not(.sineItemConfigureButton) {
    background-image: url("chrome://userscripts/content/engine/assets/images/web.svg");
}

.github-link {
    min-width: 0;
    height: 34.833px;
    width: 38.833px;
    background-image: url("chrome://userscripts/content/engine/assets/images/github.svg");
}

.sineItemPreferenceDialogContent .update-indicator {
    margin-right: 8px;
}

#sineWebsiteLink {
    height: 37px;
    width: 37px;
    cursor: default;

    .sineMarketplaceOpenButton {
        height: 100%;
    }
}

.sineMarketplaceOpenButton {
    display: inline-flex !important;
    width: 25%;
    align-items: center;
    justify-content: center;
    font-size: 0;
    min-width: 36px;
}

.sineMarketplaceOpenButton svg {
    width: 50%;
    height: 50%;
}

#sineInstallationCustom .sineMarketplaceOpenButton {
    width: 37px;
}

.sineMarketplaceItemButton {
    background-color: var(--color-accent-primary) !important;
    color: black !important;
    width: 100%;
}

#sineInstallationCustom {
    margin-top: 8px;
    display: flex;
}

#sineInstallationCustom .sineMarketplaceItemButton {
    width: min-content !important;
    margin-left: 0;
}

#sineInstallationCustom > *:not(dialog) {
    box-sizing: border-box;
    height: 37px;
}

#sineInstallationCustom input {
    margin-left: 0;
    margin-right: 6px;
    margin-top: 4px;
}

#sineInstalledHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sineInstalledHeader h2 {
    margin: 0;
}

.sineItemTitle {
    margin: 0;
    display: inline-block;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}

dialog {
    border-radius: 5px;
    max-height: 96vh;
    max-width: 96vw;
    animation: dialogPopin 0.3s ease-out;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none !important;
    padding: 20px !important;
    box-sizing: border-box;
    width: max-content !important;
    min-width: 60vw;
}

dialog[open] {
    display: block !important;
    cursor: default !important;
}

.sineItemPreferenceDialogTopBar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 7px;
    margin-bottom: 7px;
}

.sineItemPreferenceDialogContent {
    display: block;
    max-width: calc(96vw - 40px);
    width: max-content;
    min-width: 100%;
}

.sineItemPreferenceCheckbox {
    margin: var(--space-small) 0;
    margin-right: 10px;
    padding-inline-start: 0;
    align-items: center;
    display: flex;
}

.sineItemPreferenceDialogContent div:has(hr) {
    position: relative;
}

.sineItemPreferenceDialogContent div:has(hr) * {
    transition: all 150ms ease;
}

.sineItemPreferenceDialogContent div hr:has(+ .separator-label[title]:not([checked])) {
    opacity: 0.5;
}

.separator-label {
    position: absolute;
    top: 50%;
    margin-left: 14px;
    background: #1c1b22;
    padding: 0 6px 0 5px;
    transform: translateY(-60%);
}

.separator-label[title]:not([checked]),
.separator-label[title][checked]:hover,
.separator-label:not([title]) {
    color: rgba(255, 255, 255, 0.5);
}

.separator-label[title]:not([checked]):hover {
    color: white;
}

#sineMarketplaceRefreshButton {
    margin: 0 0 0 6px !important;
}

#sineMarketplaceRefreshButton,
#sineMarketplaceRefreshButton svg {
    height: 37px !important;
    width: 37px !important;
}

#navigation-container {
    display: flex;
    justify-content: center !important;
    margin-bottom: 8px;
}

#sineInstalledGroup .indent {
    margin: 0 !important;
    height: fit-content !important;
    display: flex;
}

#sineInstalledGroup description {
    display: block;
}

.transfer-container,
.sineItemPreferenceDialogTopBar > a,
.sineItemPreferenceDialogTopBar:has(h3) > button {
    margin-left: auto;
}

.updates-container,
.transfer-container {
    display: inline-flex;
    margin-bottom: 10px;
}

.updates-container * {
    min-height: 34.833px;
    height: auto;
}

.auto-update-toggle,
.manual-update {
    cursor: pointer;
}

.manual-update {
    height: 34.83px;
    white-space: nowrap;
}

.auto-update-toggle::before {
    content: "";
    width: 34.83px;
    height: 100%;
}

.updates-container .auto-update-toggle {
    margin-left: 0;
    margin-right: 0;
    min-width: 34.83px;
    width: 34.83px;
    padding: 0;
    display: flex;

    &::before {
        background-image: url("chrome://userscripts/content/engine/assets/images/update.svg");
        background-repeat: no-repeat;
    }

    span {
        display: none;
        align-items: center;
    }
}

.sineItemActions .auto-update-toggle {
    min-width: 0;
    width: 32px;
    height: 32px;
    padding: 0;
    display: flex;

    &::before {
        background-image: url("chrome://userscripts/content/engine/assets/images/update-disabled.svg");
    }
}

.auto-update-toggle[enabled] {
    background-color: var(--color-accent-primary) !important;
    color: black !important;

    &::before {
        filter: invert(1);
    }

    & span {
        display: flex;
    }
}

.updates-container .auto-update-toggle[enabled] {
    width: auto;
    padding-right: 7px;
}

.updates-container .auto-update-toggle:not([enabled]) {
    max-height: 34.833px;
}

.manual-update,
.update-indicator p {
    overflow: hidden;
    text-overflow: ellipsis;
}

.update-indicator {
    margin: 0;
    margin-top: 4px;
    margin-left: 6px;
    display: inline-flex;
}

.update-indicator:has(p.checked)::before {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("chrome://userscripts/content/engine/assets/images/check.svg");
    align-self: center;
}

.update-indicator p {
    margin-left: 7px;
    -webkit-line-clamp: 1;
    align-items: center;
}

.sineItemPreferenceDialogContent > * {
    padding: 0 5px;
    width: 100%;
}

.sineItemPreferenceDialogContent > *:has(hr) {
    padding: 5px 5px 5px 0;
}

.sineItemPreferenceDialogContent hbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sineItemPreferenceDialogContent hbox menulist,
.sineItemPreferenceDialogContent hbox input {
    display: flex;
}

.sineItemPreferenceDialogContent hbox label {
    margin-right: 10px;
}

.sineItemPreferenceDialogContent > p {
    padding: 0;
    margin: 0;
}

.sineItem,
#sineItemContentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sineModsList > description {
    margin-left: 3px;
}

.sineItem {
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    padding: var(--space-medium);
    position: relative;
    overflow-x: hidden;
    flex-direction: column;
    margin-bottom: 8px;
}

.sineItemUpdateIndicator {
    width: 8px;
    height: 8px;
    background: var(--zen-primary-color, var(--color-accent-primary, aqua));
    border-radius: 50%;
    display: inline-block;
    margin-left: 6px;
}

#sineItemContentHeader > label {
    display: flex;
    align-items: center;
}

.sineItem:not(:has(moz-toggle[pressed])) {
    .sineItemConfigureButton {
        display: none;
    }
}

.sineItem > * {
    width: 100%;
}

.sineItemActions {
    display: flex;
    margin-top: 5px;
}

.sineItemActions > * {
    margin-bottom: 0;
    margin-left: 3.5px;
    margin-right: 3.5px;
}

.sineItemActions > *:first-child {
    margin-left: 0;
}

.sineItemActions > *,
.sineItemUninstallButton label {
    cursor: pointer;
}

.sineItemUninstallButton {
    margin-left: auto;
    margin-bottom: 0;
    height: 32px;
    padding-top: 0.3em;
}

.sineItemConfigureButton {
    background-image: url("chrome://userscripts/content/engine/assets/images/settings.svg");
}

.sineItemHomepageButton {
    background-image: url("chrome://userscripts/content/engine/assets/images/home.svg");
}

.sineItemConfigureButton,
.sineItemHomepageButton {
    width: 32px;
    height: 32px;
    min-width: 0;
    padding: 0;
    position: relative;
}

.sineCKSOption-input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    margin-left: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 40%;
    user-select: none;
    cursor: text;
    background: transparent;
    transition: border-color 0.1s;
}

.sineItemPreferenceDialogContent {
    .settingsBtn {
        margin: 0;
        margin-left: 5px;
        padding: 0 15px;
        width: auto !important;
        align-items: center;
    }

    #version-container {
        justify-content: start;
        margin-bottom: 5px;
        padding-left: 0;

        #version-indicator {
            margin: 0;
            margin-left: 5px;
        }

        #sineMarketplaceRefreshButton {
            width: 32px !important;
            height: 32px !important;
            min-width: 0;
            background-color: transparent !important;
        }
    }
}

@media (prefers-color-scheme: light) {
    .sineMarketplaceItemButton {
        color: white !important;
    }

    .separator-label {
        background: #ffffff;
    }

    .separator-label:not([checked]),
    .separator-label[checked]:hover {
        color: rgba(0, 0, 0, 0.5);
    }

    .separator-label:not([checked]):hover {
        color: black;
    }

    .sineInstallationItem {
        background-color: rgba(0, 0, 0, 0.04) !important;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.2) !important;
    }

    .auto-update-toggle {
        color: black !important;
    }

    .auto-update-toggle[enabled] {
        color: white !important;
    }

    .sineItemPreferenceDialogTopBar {
        border-color: rgba(0, 0, 0, 0.3);
    }
}
