* {
	background-image: none;
	font-family: "JetBrainsMono Nerd Font";
	font-size: 16px;
}
window {
	background-color: rgba(0, 0, 0, 0);
}
button {
    color: #FFFFFF;
        border-style: solid;
	border-radius: 15px;
	border-width: 3px;
	background-color: rgba(0, 0, 0, 0);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: rgba(0, 0, 0, 0);
	color: #4470D2;
}

#lock {
    background-image: image(url("/home/l0lk3k/.config/wlogout/lock.png"));
}

#logout {
    background-image: image(url("/home/l0lk3k/.config/wlogout/logout.png"));
}

#shutdown {
    background-image: image(url("/home/l0lk3k/.config/wlogout/shutdown.png"));
}

#reboot {
    background-image: image(url("/home/l0lk3k/.config/wlogout/reboot.png"));
}
