[Desktop Entry]
Name=7 Days to Die
Comment=Play this game on Steam
Exec=steam steam://rungameid/251570
Icon=steam_icon_251570
Terminal=false
Type=Application
Categories=Game;
