[Desktop Entry]
Name=Barotrauma
Comment=Play this game on Steam
Exec=steam steam://rungameid/602960
Icon=steam_icon_602960
Terminal=false
Type=Application
Categories=Game;
