[Desktop Entry]
Name=Game 1216669957799018608
Exec=/nix/store/n2vkjl9fx14p5g29mjnpk9ddfm2zfz80-osu-lazer-bin-2024.521.2-extracted/usr/bin/osu! %u
Type=Application
NoDisplay=true
Categories=Discord;Games;
MimeType=x-scheme-handler/discord-1216669957799018608