[Desktop Entry]
Name=Game 1216669957799018608
Exec=/nix/store/k2iq0argcr8zr7ailj292i4na4bcgm1m-osu-lazer-bin-2024.412.1/lib/osu/osu! %u
Type=Application
NoDisplay=true
Categories=Discord;Games;
MimeType=x-scheme-handler/discord-1216669957799018608