[Desktop Entry]
Name=Game 537047684993777686
Exec=steam://rungameid/977950 %u
Type=Application
NoDisplay=true
Categories=Discord;Games;
MimeType=x-scheme-handler/discord-537047684993777686;
