[Desktop Entry]
Name=Game 1216669957799018608
Exec=/nix/store/41n45zag3qgf0afbccxkb74jh0c2kg22-osu-lazer-bin-2024.521.2-extracted/usr/bin/osu! %u
Type=Application
NoDisplay=true
Categories=Discord;Games;
MimeType=x-scheme-handler/discord-1216669957799018608