[Desktop Entry]
Name=Friendship with Benefits
Comment=Play this game on Steam
Exec=steam steam://rungameid/1299370
Icon=steam_icon_1299370
Terminal=false
Type=Application
Categories=Game;
