[Desktop Entry]
Name=Half-Life Deathmatch: Source
Comment=Play this game on Steam
Exec=steam steam://rungameid/360
Icon=steam_icon_360
Terminal=false
Type=Application
Categories=Game;
