[Desktop Entry]
Name=Hentai Girl Fantasy
Comment=Play this game on Steam
Exec=steam steam://rungameid/1146950
Icon=steam_icon_1146950
Terminal=false
Type=Application
Categories=Game;
