[Desktop Entry]
Name=Proton 4.11
Comment=Play this game on Steam
Exec=steam steam://rungameid/1113280
Icon=steam
Terminal=false
Type=Application
Categories=Game;
