[Desktop Entry]
Name=SCP: Secret Laboratory
Comment=Play this game on Steam
Exec=steam steam://rungameid/700330
Icon=steam_icon_700330
Terminal=false
Type=Application
Categories=Game;
