[Desktop Entry]
Name=Scrap Mechanic
Comment=Play this game on Steam
Exec=steam steam://rungameid/387990
Icon=steam_icon_387990
Terminal=false
Type=Application
Categories=Game;
