[Desktop Entry]
Name=Starbound
Comment=Play this game on Steam
Exec=steam steam://rungameid/211820
Icon=steam_icon_211820
Terminal=false
Type=Application
Categories=Game;
