[Desktop Entry]
Name=Steam Linux Runtime 2.0 (soldier)
Comment=Play this game on Steam
Exec=steam steam://rungameid/1391110
Icon=steam
Terminal=false
Type=Application
Categories=Game;
