[Desktop Entry]
Name=The Tritan Initiative
Comment=Play this game on Steam
Exec=steam steam://rungameid/656290
Icon=steam_icon_656290
Terminal=false
Type=Application
Categories=Game;
