[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=telegram-desktop -- %u
Name=Telegram Desktop
Comment=Особое определение для Telegram Desktop
