[Desktop Entry]
Version=1.0
Name=War Thunder
Exec=StartupWMClass=War Thunder (Vulkan, 64bit)

Terminal=false
Type=Application
Icon=/home/l0lk3k/Games/SteamLibrary/steamapps/common/War Thunder/launcher
Categories=GNOME;GTK;Network
StartupNotify=true
