[Desktop Entry]
Type=Application
Name=Recorder
Exec=waydroid app launch org.lineageos.recorder
Icon=/home/l0lk3k/.local/share/waydroid/data/icons/org.lineageos.recorder.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app_settings;

[Desktop Action app_settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:org.lineageos.recorder
Icon=/home/l0lk3k/.local/share/waydroid/data/icons/com.android.settings.png
